@font-face {
  font-family: 'Raleway-Black';
  src:url(Raleway/Raleway-Black.ttf);
}

@font-face {
  font-family: 'Raleway-BlackItalic';
  src:url(Raleway/Raleway-BlackItalic.ttf);
}

@font-face {
  font-family: 'Raleway-Bold';
  src:url(Raleway/Raleway-Bold.ttf);
}

@font-face {
  font-family: 'Raleway-BoldItalic';
  src:url(Raleway/Raleway-BoldItalic.ttf);
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src:url(Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src:url(Raleway/Raleway-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: 'Raleway-ExtraLight';
  src:url(Raleway/Raleway-ExtraLight.ttf);
}

@font-face {
  font-family: 'Raleway-ExtraLightItalic';
  src:url(Raleway/Raleway-ExtraLightItalic.ttf);
}

@font-face {
  font-family: 'Raleway-Light';
  src:url(Raleway/Raleway-Light.ttf);
}

@font-face {
  font-family: 'Raleway-Italic';
  src:url(Raleway/Raleway-Italic.ttf);
}

@font-face {
  font-family: 'Raleway-LightItalic';
  src:url(Raleway/Raleway-LightItalic.ttf);
}

@font-face {
  font-family: 'Raleway-Medium';
  src:url(Raleway/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Raleway-MediumItalic';
  src:url(Raleway/Raleway-MediumItalic.ttf);
}

@font-face {
  font-family: 'Raleway-Regular';
  src:url(Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src:url(Raleway/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  src:url(Raleway/Raleway-SemiBoldItalic.ttf);
}

@font-face {
  font-family: 'Raleway-Thin';
  src:url(Raleway/Raleway-Thin.ttf);
}

@font-face {
  font-family: 'Raleway-ThinItalic';
  src:url(Raleway/Raleway-ThinItalic.ttf);
}
